* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    display: flex;
    padding: 15px;
    box-shadow: 2px 2px 10px lightgray, -2px -2px 10px lightgray;
    gap: 20px;
    border-radius: 15px;
    width: 680px;
}

.photoProfile {
    width: 30%;
    border-radius: 5%;
    background-image: url("Assets/PhotoCard.jpg");
    background-size: cover;
}

.profile {
    padding: 5px 0;
}

.infoSection {
    width: 70%;
}

.hobby {
    padding: 0 14px;
}

.hobby li {
    font-size: 11px;
}

.FK {
    background: #006fff;
    background: linear-gradient(90deg, rgba(0, 111, 255, 1) 0%, rgba(0, 221, 255, 1) 100%);
    display: inline;
    padding: 4px 10px;
    border-radius: 10px;
    color: white;
}

.about p {
    font-size: 11px;
}