* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
}

.subContainer {
    height: 20rem;
    width: 35rem;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

.parentList {
    flex: 1;
    padding: 0.3rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.List {
    display: flex;
    background-color: aquamarine;
    height: 2rem;
    align-items: center;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    flex-shrink: 0;
    gap: 1rem;
}

.List span {
    flex: 1;
    font-weight: 500;
}

.submitContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#inputBar {
    width: 90%;
    height: 2rem;
    border-radius: 0.3rem;
    padding: 0 1rem;
}

.deleteBtn {
    border: 0;
    background: rgb(255, 100, 100);
    color: white;
    padding: 1px 4px;
    font-size: small;
    border-radius: 0.3rem;
}

.submitBtn {
    width: 10%;
    border-radius: 0.3rem;
}

.toggleBtn {
    height: 15px;
    width: 15px;
    border: 1px solid;
    border-radius: 50%;
}

.toggleBtn.done {
    background-color: black;
}

.List.done {
    background-color: rgb(2, 183, 150);
}