* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.parentList {
    flex: 1;
}