* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 0.5rem 0.1rem gray;
  gap: 0.5rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 30rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 0.5rem 0.1rem gray;
  gap: 0.4rem;
}

.containerInput {
  display: flex;
  gap: 0.4rem;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid;
  padding: 0 0 0.5rem 0;
}

.profile {
  background-image: url("./assets/Profile.jpg");
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40%;
}

.inputBar {
  flex: 1;
  height: 2rem;
  border-radius: 0.4rem;
  padding: 0 0.5rem;
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(200, 200, 200) inset;
  border: none;
}

.btn {
  border-radius: 0.4rem;
  font-weight: bold;
  border: none;
  color: white;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}

.submitBtn {
  width: 3.5rem;
  background-color: rgb(103, 169, 244);
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(10, 74, 146) inset;
}

.btn:hover {
  transform: scale(1.05);
}

ul {
  flex: 1;
  margin-top: 0.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 3px 5px 10px 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0.5rem;
  height: 2rem;
  border-radius: 0.4rem;
  flex-shrink: 0;
  font-size: small;
}

li p {
  cursor: pointer;
  flex: 1;
}

h3 {
  color: rgb(103, 169, 244);
}

.changeContainer {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.thisBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.thisIcon {
  height: 15px;
  width: 15px;
  fill: black;
}

.changesContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(160, 160, 160) inset;
  background-color: white;
  border-radius: 0.4rem;
  gap: 1rem;
  align-items: start;
}

.changesContainer h2 {
  color: rgb(103, 169, 244);
}

.changesContainer input {
  width: 20rem;
  height: 2rem;
  border-radius: 0.4rem;
  padding: 0 0.5rem;
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(200, 200, 200) inset;
  border: none;
}

.changesContainer div {
  display: flex;
  gap: 0.4rem;
}

.changesContainer div button {
  padding: 0.3rem 0.3rem;
  border-radius: 0.3rem;
  border: none;
  color: white;
  font-weight: bold;
}

.changesContainer div button:first-child {
  background-color: rgb(103, 169, 244);
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(10, 74, 146) inset;
}

.changesContainer div button:last-child {
  background-color: rgb(31, 213, 249);
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(0, 114, 160) inset;
}

.switchBtn {
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  background-color: rgb(103, 169, 244);
}

.description {
  flex: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container h6 {
  background-color: rgb(12, 175, 235);
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(0, 97, 158) inset;
  color: white;
}

.dark {
  background-color: rgb(46, 46, 46);
}

.darkContainer {
  background-color: rgb(33, 33, 33);
  box-shadow: none;
  color: white;
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(23, 23, 23) inset;
}

.darkInput {
  background-color: rgb(22, 22, 22);
  box-shadow: none;
  color: white;
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(17, 17, 17) inset;
}

.darkIcon {
  fill: white;
}

.filterBtn {
  width: 3.5rem;
  background-color: rgb(0, 184, 184);
  box-shadow: 1px 1px 0.1rem 0.1rem rgb(1, 84, 85) inset;
}
.filterContainer {
  position: relative;
  display: inline-flex;
}

.filterDropdown {
  position: absolute;
  top: 110%; /* tepat di bawah tombol */
  left: 0; /* sejajar dengan tombol */
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  padding: 0.3rem 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  z-index: 10;
}

.filterDropdown button {
  background-color: white;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 0 8px;
}

.filterDropdown button:hover {
  background-color: #a2a2a2;
}

.darkDropdown {
  background-color: #202020;
}

.darkDropdown button {
  background-color: #202020;
  color: white;
}
